body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    color: #ee4d2d;
    text-align: center;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



#featured-listings, #categories, #latest-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 35%; /* 48% untuk memberikan sedikit ruang di antara dua kotak */
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #888;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
