body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    color: #ee4d2d;
    text-align: center;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mengubah warna tautan menjadi hijau */
 a {
 color: rgb(228, 5, 5);
   }
  /* Gaya tambahan untuk efek hover (saat kursor diarahkan) */
   a:hover {
   text-decoration: underline; /* Memberikan garis bawah saat dihover */
    color: darkgreen; /* Mengubah warna saat dihover */
        }


#featured-listings, #categories, #latest-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 35%; /* 48% untuk memberikan sedikit ruang di antara dua kotak */
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #888;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

 /* Gaya untuk kontainer */
 .button-container {
    text-align: center; /* Membuat elemen berada di tengah */
}

/* Gaya untuk tombol gambar */
.image-button {
    display: inline-block; /* Membuat tombol gambar menjadi elemen inline-block */
}

/* Gaya untuk teks tautan di bawah gambar */
.text-link {
    display: block; /* Membuat tautan menjadi elemen blok */
    text-align: center; /* Membuat teks berada di tengah */
    text-decoration: none; /* Menghilangkan garis bawah default untuk tautan */
    color: blue; /* Warna default tautan */
}

/* Gaya tambahan untuk efek hover pada tautan */
.text-link:hover {
    color: red; /* Mengubah warna saat dihover */
}

body {
    background-color: #525151; /* Ganti kode warna sesuai keinginan Anda */
    margin: 0; /* Menghilangkan margin bawaan pada body */
    padding: 0; /* Menghilangkan padding bawaan pada body */
    font-family: Arial, sans-serif; /* Ganti font sesuai kebutuhan Anda */
}

/* Gaya untuk konten di dalam halaman */
.content {
    padding: 20px; /* Menambahkan padding di sekitar konten */
}

